$def with (menStatus, womanStatus)


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="refresh" content="5"> <!-- Refresh every 15 minutes -->
            <title></title>
        <link type="text/css" rel="stylesheet" href="./static/Content/bootstrap.css" /><link type="text/css" rel="stylesheet" href="./static/Content/normalize.css" /><link type="text/css" rel="stylesheet" href="./static/Content/ourstyle.css" />
    </head>
    <body><a href="http://www.greensaver.org"><img id="github-banner" style="position:absolute;top:0px;right:0;border:0;" src="./static/Content/images/gslogo.png"></a>
 
            <table align="center">
                <tr>
                    <td align="center">
            
            <div id="login-container">
                <div id="login-form" class="well span4">
                    <h1>Men</h1>
                    <img src="./static/Content/images/male.png" alt="" align="middle">
                    <p class="subheading">Status</p>
                    <button type="submit" id="btn-login" class="btn-custom-green"></i>$menStatus</button>
                    <div class="clear-fix"></div>
                    
                    <div class="btm-links">
                        
                    </div>
                </div>
            </div>
            </td>
                    <td align="center">
            
            <div id="login-container">
                <div id="login-form" class="well span4">
                    <h1>Women</h1>
                    <img src="./static/Content/images/female.png" alt="" align="center">
                    <p class="subheading">Status</p>
                    <button type="submit" id="btn-login" class="btn-custom-red" align="center"></i>$womanStatus</button>
                   <div class="clear-fix"></div>
                    
                    <div class="btm-links">
                        
                    </div>
                </div>
            </div>

            
            </td>
                    </tr>
                </table
            
            
            
            

    </body>
    <script type="text/javascript"  src=''></script>
    <script type="text/javascript"  src=''></script>
    <script src="./static/Scripts/bootstrap.min.js"></script>
    
</html>
